Repository packit/ogr, pull requests merged in 2019-07, with the labels that each got.

#106 link to GitTag from Release added
  ogr/abstract.py
  ogr/services/github.py
  tests/integration/test_data/test_github_data_tests.integration.test_github.GenericCommands.test_get_releases.yaml
  tests/integration/test_data/test_github_data_tests.integration.test_github.GenericCommands.test_get_tag_from_nonexisting_tag_name.yaml
  tests/integration/test_data/test_github_data_tests.integration.test_github.GenericCommands.test_get_tag_from_tag_name.yaml
  tests/integration/test_github.py
Labels: GitHub, Pagure, feature

#101 get project's owners and permissions of various users
  ogr/abstract.py
  ogr/services/github.py
  ogr/services/pagure.py
  tests/integration/test_data/test_github_data_tests.integration.test_github.GenericCommands.test_get_owners.yaml
  tests/integration/test_data/test_github_data_tests.integration.test_github.GenericCommands.test_issue_permissions.yaml
  tests/integration/test_data/test_github_data_tests.integration.test_github.GenericCommands.test_pr_permissions.yaml
  tests/integration/test_data/test_pagure_data_tests.integration.test_pagure.GenericCommands.test_get_owners.yaml
  tests/integration/test_data/test_pagure_data_tests.integration.test_pagure.GenericCommands.test_issue_permissions.yaml
  tests/integration/test_data/test_pagure_data_tests.integration.test_pagure.GenericCommands.test_pr_permissions.yaml
  tests/integration/test_github.py
  tests/integration/test_pagure.py
Labels: GitHub, Pagure, feature

#120 add zuul config
  .zuul.yaml
  Makefile
  pre-commit-pb.yaml
  recipe.yaml
Labels: ready-for-review

#122 add labeling github pull requests
  ogr/abstract.py
  ogr/services/github.py
  tests/integration/test_data/test_github_data_tests.integration.test_github.Issues.test_issue_labels.yaml
  tests/integration/test_data/test_github_data_tests.integration.test_github.PullRequests.test_pr_labels.yaml
  tests/integration/test_github.py
Labels: GitHub, feature

#113 Authentication as a github app and mocking upgrade
  ogr/__init__.py
  ogr/persistent_storage.py
  ogr/read_only.py
  ogr/services/github.py
  ogr/services/github_tweak.py
  ogr/services/mock/__init__.py
  ogr/services/mock/github.py
  ogr/services/mock/github_import_tweaks.py
  ogr/services/mock/pagure_mock.py
  ogr/services/pagure.py
  ogr/utils.py
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/test_factory.py
  tests/integration/test_github.py
  tests/integration/test_github_readonly.py
  tests/integration/test_pagure.py
  tests/unit/test_factory.py
Labels: GitHub, feature, refactor, testing
